body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: monospace;
    text-align: center;
}

img {
    max-width: 375px;
    width: 100%;
    height: 100%;
}

h1, h2 {
    padding: 20px;
}

.text-left {
    text-align: left;
}

.jumbotron {
    flex: 1;
    background-color: #80FFDB;
}

.jumbotron>h1 {
    font-family: 'Bungee Shade', cursive;
    color: black;
}

#game-stage {
    flex: 2;
}

#gameboard {
    width: auto;
    /*max-width: 880px;*/
    border-width: 2px;
    border-style: dashed;
}

#status-bar {
    padding: 20px;
    font-size: 24px;
}

#word-stage {
    padding: 40px 10px;
    margin: 20px 0;
    background-color: #5B70F3;
}

#footer {
    flex: 1;
}
