html {
    position: relative;
    min-height: 100%;
}

body {
    width: 100%;
    background-color: #3E6B89;
    color: white;
    font-size: 20px;
    font-family: monospace;
    text-align: center;
    margin-bottom: 110px;
}

img {
    width: 100%;
}

h1, h2 {
    padding: 20px;
}

.text-left {
    text-align: left;
}

.jumbotron {
    background-color: #80FFDB;
}

.jumbotron>h1 {
    font-family: 'Bungee Shade', cursive;
    color: black;
}

#game-stage {}

#gameboard {
    width: auto;
    /*max-width: 880px;*/
    border-width: 2px;
    border-style: dashed;
}

#status-bar {
    padding: 20px;
    font-size: 24px;
}

#word-stage {
    padding: 40px 10px;
    margin: 20px 0;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    background-color: #5B70F3;
}

#foot {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    margin-top: 10px;
    padding: 30px;
    background-color: #122D42;
}
